<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean class="com.jsp.springcore_simple_project.Student" name="student1">
	<property name="studentId">
	<value>100</value>
	</property>
	<property name="studentName">
	<value>Shiv</value>
	</property>
	<property name="studentAddress">
	<value>Delhi</value>
	</property>
</bean>
<bean class="com.jsp.springcore_simple_project.Student" name="student2">
	<property name="studentId">
	<value>101</value>
	</property>
	<property name="studentName">
	<value>Shankar</value>
	</property>
	<property name="studentAddress">
	<value>Noida</value>
	</property>
</bean>
<bean class="com.jsp.springcore_simple_project.Student" name="student3">
	<property name="studentId" value="102" />
	<property name="studentName" value="Mishra" />
	<property name="studentAddress" value="PrayagRaj" />
</bean>
<bean class="com.jsp.springcore_simple_project.Student" name="student4">
	<property name="studentId" value="103" />
	<property name="studentName" value="Shivshankar Mishra" />
	<property name="studentAddress" value="Baskhari" />
</bean>
</beans>